<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='css/style.css') }}">
            {% if title %}
                <title>{{ title }} - Open Source Pirate</title>
            {% else %}
                <title>Open Source Pirate</title>
            {% endif %}
        </head>
        <body>
            <h1>Open Source Pirate</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% if is_auth %}
                <a href="/logout">Admin logout</a>
                <a href="/dashboard">Dashboard</a>
            {% else %}
                <a href="/login">Admin login</a>
            {% endif %}
            {% block content %}{% endblock %}
        </body>
    </html>
