<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='css/style.css') }}">
            <title>{{ title }} - Open Source Pirate</title>
        </head>
        <body>
            <h1>Open Source Pirate</h1>
            {% block content %}{% endblock %}
        </body>
    </html>
