{% extends "base.html" %}

{% block content %}

<div id="main-page">
	<h1>Welcome Wanderer</h1>
	<img src="{{ url_for('static', filename='assets/hero.svg') }}" alt="Hero Section Image Svg" />
	<section>
		<h2>
			Recent Articles
		</h2>
		<hr>
		<div class="articles" >
			{% for article in articles %}
			<article>
				<img src="{{ url_for('static', filename=article.img) }}" />
				<div class="article-text" >
					<h3>
						<a href="#">{{ article.title }}</a>
					</h3>
					<div>
						<p> {{ article.body }} </p>
						<ul class="article-tags" >
							{% for tag in article.tags %}
							|
							<li>
								<a href="#" >{{ tag }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
	</section>

	<div class="section-explore" >
		<a href="{{ url_for('main.articles') }}" > &#62; See more</a>
	</div>

	<section>
		<h2>
			Recent Projects
		</h2>
		<hr>
		<div class="articles" >
			{% for project in projects %}
			<article>
				<img src="{{ url_for('static', filename=project.img) }}" />
				<div class="article-text" >
					<h3>
						<a href="#">{{ project.title }}</a>
					</h3>
					<div>
						<p> {{ project.body }} </p>
						<ul class="article-tags" >
							{% for tag in project.tags %}
							|
							<li>
								<a href="#" >{{ tag }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
	</section>

	<div class="section-explore" >
		<a href="{{ url_for('main.projects') }}" > &#62; See more</a>
	</div>
</div>

{% endblock %}
